[package]
name = "browserslist-rs"
version = "0.7.0"
authors = ["Pig Fang <g-plane@hotmail.com>"]
edition = "2021"
description = "Rust-ported Browserslist."
repository = "https://github.com/g-plane/browserslist-rs"
license = "MIT"
keywords = ["web", "javascript"]
categories = ["web-programming", "config"]
include = [
    "**/*.rs",
    "Cargo.toml",
    "vendor/caniuse/fulldata-json/data-2.0.json",
    "vendor/canisue/features-json/*.json",
    "vendor/caniuse/region-usage-json/*.json",
    "vendor/electron-to-chromium/versions.json",
    "vendor/node-releases/data/**/*.json",
]

[lib]
name = "browserslist"
crate-type = ["cdylib", "rlib"]

[dependencies]
ahash = { version = "0.7", features = ["serde"] }
either = "1.6"
itertools = "0.10"
napi = { version = "2.0", features = ["serde-json"], optional = true }
napi-derive = { version = "2.0", optional = true }
nom = "7.1"
once_cell = "1.8"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
string_cache = "0.8"
thiserror = "1.0"

[dev-dependencies]
clap = "2.33"
criterion = "0.3"
test-case = "1.2"

[build-dependencies]
anyhow = "1.0"
napi-build = { version = "1.1", optional = true }
quote = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
string_cache_codegen = "0.5"

[features]
node = ["napi", "napi-derive", "napi-build"]

[target.'cfg(target = "wasm32-unknown-unknown")'.dependencies]
chrono = { version = "0.4", features = ["wasmbind"] }
js-sys = "0.3"
serde-wasm-bindgen = "0.3"
wasm-bindgen = { version = "0.2", features = ["serde-serialize"] }

[target.'cfg(not(target = "wasm32-unknown-unknown"))'.dependencies]
chrono = "0.4"

[patch.crates-io]
parking_lot = { git = "https://github.com/Amanieu/parking_lot" }
parking_lot_core = { git = "https://github.com/Amanieu/parking_lot", package = "parking_lot_core" }

[[bench]]
name = "resolve"
harness = false
